# Ignore Mac system files
*.DS_store

# Ignore __pycache__ folder
**/__pycache__/

#Ignore .ipynb_checkpoints/ folder
**/.ipynb_checkpoints/

#Ignore sbatch
*.sh

#Ignore sbatch logs
*.out

#Ignore sh
*.sh
*.txt
*/venv_*/
*/.umap_env/
*/.umap_venv2/
*.pt
*/acmil2/

# Don't ignore this one
!requirements_predict.txt

